/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.draftJsEditorContent:not(.ol-item) {
  counter-reset: ol-counter;
}

*.alignLeft {
	text-align: left;
}
*.alignCenter {
	text-align: center;
}
*.alignRight {
	text-align: right;
}

#active-atomic {
	border: 10px solid black
}

.atomic {
	display: flex;
	justify-content: space-around;
}

.atomic.alignLeft {
	display: flex;
	justify-content: flex-start;
}
.atomic.alignCenter {
	display: flex;
	justify-content: space-around;
}
.atomic.alignRight {
	display: flex;
	justify-content: flex-end;
}

.header-one {
	font-size: 6rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.01562em;
}
.header-two {
	font-size: 3.75rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.01562em;
}
.header-three {
	font-size: 3rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.04;
	letter-spacing: 0em;
}
.header-four {
	font-size: 2.125rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.17;
	letter-spacing: 0.00735em;
}
.header-five {
	font-size: 1.5rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.33;
	letter-spacing: 0em;
}
.header-six {
	font-size: 1.25rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0.0075em;
}
.blockquote {
	border-left: 5px solid #eee;
	color: #666;
	font-family: Hoefler Text,Georgia,serif;
	font-style: italic;
	margin: 16px 0;
	padding: 10px 20px;
}
.ul-item {
	display: list-item;
	list-style-type: disc;
	margin: 0 0 10px calc(25px + 1.5em);
	padding: 0;
}
.ol-item {
	display: flex;
	list-style-type: none;
	margin: 0 0 10px calc(25px + 1.5em);
	padding: 0;
}
.ol-item::before {
  /* Increment "ol-counter" by 1 */
  counter-increment: ol-counter;
  content: counter(ol-counter) ". ";
}
.code-block {
	background-color: rgba(0,0,0,.05);
	font-family: Inconsolata,Menlo,Consolas,monospace;
	font-size: 16px;
	padding: 20px;
}
.draftJsEditorContent a {
	color: #1e88e5;
	text-decoration: none;
}

figure img[class*="draftJsEmojiPlugin__image"] {
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/*-------------------- Scrollbar --------------------*/
/*
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #b2dfdb;
}
::-webkit-scrollbar-thumb {
  background: #26a69a;
}
::-webkit-scrollbar-thumb:hover {
  background: #009688;
}
::-webkit-scrollbar-thumb:active {
  background: #00897b;
}
*/
